body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    margin-top: 90px;   
}
.first{
    margin-top: 250px;
    margin-left: 80px;
}
.second{
    margin-top: 10%;
    margin-left: 20%;
    padding-right: 10%;
}
.half-width img{
    width:100%;
}

h1{
    font-weight: bolder;
    font-size: 50px;
}
h2{
    font-weight: bolder;
    font-size: 35px;
}
.menu-inline h2{
    display: inline;
    margin-right: 9%;
}
.menu-inline{
    margin-top: 30px;
    margin-left: 80px;
}
.menu-inline a{
    margin: 40px;
}
.ocolour{
    color: orange;
}
.fcolour{
    color: rgb(255, 91, 31);
}
.ncolour{
    color: gray;
}
.pcolour{
    color: white;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(255, 72, 0));
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
a:hover{
    background-image: linear-gradient(rgb(255, 72, 0), orange);
    color: black;
}
.middle-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.person{
    width: 23%;
    margin-left: 15%;
}
.center{
    text-align: center;
}
.shadow-item{
    border-radius: 30px;
    margin: 3%;
    width: 30%;
    padding: 1%;
    box-shadow: 10px 10px 40px gray;
}
.shadow-item img{
    width: 100%;
    border-radius: 30px;
}
.shadow{
    display: flex;
    margin: 10%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
}
.counter{
    padding:2% 13%;
}
.counter h1{
    font-family:'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
footer{
    text-align: center;
    background:black;
    padding: 3%;
}